@import '/src/styles/breakpoints.scss';

/* albert-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/albert-sans-v1-latin-regular.woff2') format('woff2');
}

/* albert-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/albert-sans-v1-latin-500.woff2') format('woff2');
}

:root {
  // Colors
  --white: #fdf9ef;
  --black: #301b0a;
  --green-100: #eaf0d3;
  --green-200: #d0e0af;
  --green-300: #b7ca90;
  --green-500: #99b06a;
  --beige-100: #faefd6;
  --beige-200: #f6e7c3;
  --beige-300: #dccba2;
  --beige-500: #c5b181;

  // Spacing
  --space-x-small: 8px;
  --space-small: 16px;
  --space-medium: 24px;
  --space-large: 36px;
  --space-x-large: 60px;
  --space-xx-large: 80px;
  --space-xxx-large: 120px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--black);
  background-color: var(--white);
  font-family: 'Albert Sans', sans-serif;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  overflow-wrap: break-word;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
.subheading {
  line-height: 130%;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.25rem;
}

h5,
.subheading {
  font-size: 1rem;
}

a {
  color: inherit;
  font-size: 1rem;
  text-decoration: none;
}

p {
  line-height: 160%;
}

p.lead {
  font-size: 1.25rem;
}

p.body {
  font-size: 1rem;
}

ul,
ol,
menu {
  list-style: none;
  padding-left: 0;
}

@media (min-width: $mobile-breakpoint) {
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.875rem;
  }
  h3 {
    font-size: 1.625rem;
  }
  h4 {
    font-size: 1.375rem;
  }
  h5,
  .subheading {
    font-size: 1.125rem;
  }
  p.lead {
    font-size: 1.375rem;
  }
  p.body {
    font-size: 1.125rem;
  }
}

@media (min-width: $desktop-breakpoint) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.375rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5,
  .subheading {
    font-size: 1.25rem;
  }
  a {
    font-size: 1.125rem;
  }
  p.lead {
    font-size: 1.5rem;
  }
  p.body {
    font-size: 1.25rem;
  }
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
    text-underline-offset: 25%;
    text-decoration-thickness: 2px;
  }
}
