@import '/src/styles/breakpoints.scss';

.link {
  padding: var(--space-small);
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
  transition: 0.4s;

  font-size: 1rem;
  line-height: 160%;

  display: flex;
  align-items: center;
  gap: var(--space-small);

  & + .link {
    margin-top: -2px;
  }

  svg {
    width: 24px;
    height: 24px;

    &:nth-child(2) {
      opacity: 0;
      margin-left: auto;
      transition: 0.4s;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .link {
    font-size: 1.125rem;

    svg {
      width: 36px;
      height: 36px;
    }
  }
}

@media (hover: hover) {
  .link:hover {
    color: var(--white);
    text-decoration: none;
    background-color: var(--black);

    svg:nth-child(2) {
      opacity: 1;
      fill: var(--white);
    }
  }
}
